<!DOCTYPE html>
<html> 
    <head>
        <title> Events Page</title>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body> 
        <h1> Events Page </h1>
        <p>You have done an excellent job on the statistics and basic laws portion of the quiz. However, you have answered a majority of gun control events questions incorrectly.<br> <br> Here is a <a href="https://www.theatlantic.com//" target="blank">> link</a> to a website on ongoing gun control events. Click it to learn more. </p>
        <img src="https://www.denverpost.com/wp-content/uploads/2018/02/student_protests_002.jpg"> 


    </body>
</html>