<!DOCTYPE html>
<html> 
    <head>
        <title> Oregon Gun Laws Page</title>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body> 
        <h1> Oregon Gun Laws Page </h1>
        <p>You have done an excellent job on the statistics and events portion of the quiz. However, you have answered a majority of Oregon's gun law questions incorrectly.<br> <br> Here is a <a href="https://www.gunstocarry.com/gun-laws-state/oregon-gun-laws/" target="blank">> link</a> to a website on Oregon gun laws. Click it to learn more. </p>
        <img src="https://i.ytimg.com/vi/4u3j_6ci7ZY/maxresdefault.jpg"> 
    </body>
</html>

