<!DOCTYPE html>
<html> 
    <head>
        <title> Oregon Page</title>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body> 
        <h1> Oregon Page </h1>
        <center>
        <button> <a href="https://www.gunstocarry.com/gun-laws-state/oregon-gun-laws/" target="blank"> Oregon Gun Laws </a></button>
        <button> <a href="https://www.theatlantic.com/" target="_blank"> Ongoing Events </a> </button>
        <button> <a href="https://everytownresearch.org/gun-violence-by-the-numbers/" target="_blank">Stats Website</a> </button> </center> 
        <p>You have failed this quiz. Here are a few links to help you in the future.</p>
        <img src="http://www.gunssavelife.com/wp-content/uploads/2017/03/636021398453257851-561132371_GunControl-800x445.jpg"> 
    </body>
</html>

