<!DOCTYPE html>
<html> 
    <head>
        <title>Protest Page</title>
        <link rel="stylesheet" href="css/style.css">
    </head>
    
    <body> 
        <h1> Protest Page </h1>
        <p>You did <strong> really well </strong> on the quiz! Here are a few profile links to gun control activists.</p> <br>
        <center>
        <a href="https://twitter.com/cameron_kasky?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="blank"> <img src="images/emma.jpg" class="protest"> </a> <button type="button" onclick="alert(/events)">Click Pictures for links!</button>
        <a href="https://twitter.com/Emma4Change?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="blank"> <img src="images/cameron.jpg" class="protest"> </a> 
        <a href="https://www.theatlantic.com/national/archive/2013/02/gun-violence-in-america-the-13-key-questions-with-13-concise-answers/272727/" target="blank"> <img src="images/atlantic.jpg" class="protest"> </center> </a> 
        
        
    </body>
</html>