<!DOCTYPE html>
<html> 
    <head>
        <title> Stats Page</title>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body> 
        <h1> Stats Page </h1>
        <p> Your quiz shows that you seem to not be aware of the statistics of gun use</p>
        <p> Here is a <a href="https://everytownresearch.org/gun-violence-by-the-numbers/" target="_blank">website </a>that will inform you on the horrifying statistics of gun use and how it can all be prevented with the implementation of gun control</p>
        <img src="images/graphs.png"> 
    </body>
</html>


